{% extends "base.html" %}
{% load static %}

{%  block header %}
    <meta charset="utf-8"/>
    <title>Ansible Wisdom Lightspeed - Admin Portal</title>
    <script defer="defer" src="{% static '/console/static/js/index.js' %}"></script>
    <link href="{% static '/console/static/css/index.css' %}" rel='stylesheet'>
{% endblock header %}

{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="Root"></div>
    <!-- The Admin Portal needs to show the userName -->
    <!-- It is safe to pass the value embedded in the host DOM -->
    <!-- as it is only used for display purposes and servers no other value -->
    <div id="user_name" hidden>{{user_name}}</div>
{% endblock content %}
