include ansible_ai_connect/version_info.json
include ansible_ai_connect/main/static/patternfly.css
include ansible_ai_connect/main/static/styles.css
include ansible_ai_connect/users/static/users/lightspeed.png
recursive-include ansible_ai_connect/main/templates *.html
recursive-include ansible_ai_connect/main/static/assets *.css *.svg *.woff *.woff2
recursive-include ansible_ai_connect/users/templates *.html
