# pin aiohttp on 3.8.6 to address GHSA-gfw2-4jvh-wgfg
# remove this once datasets or fsspec is updated
# to properly pull a version of aiohttp > 3.8.5.
aiohttp==3.9.3
# pin ansible on 8.5.0 to address GHSA-jpvw-p8pr-9g2x
# remove this once ansible-risk-insight is updated to properly
# pull a version of ansible >= 8.5.0.
ansible==8.5.0
# pin ansible-core on 2.15.8 to address GHSA-7j69-qfc3-2fq9
# remove this once ansible-anonymizer, ansible-risk-insight and
# ansible-lint are updated to properly pull a version of
# ansible-core > 2.15.0.
ansible-core==2.15.8
ansible-anonymizer==1.5.0
ansible-risk-insight==0.2.4
ansible-lint==6.22.1
boto3==1.26.84
# UPDATED MANUALLY: waiting for parent package to be updated
cryptography==42.0.2
datasets==2.10.1
Django==4.2.7
django-deprecate-fields==0.1.1
django-extensions==3.2.1
django-health-check==3.17.0
django-import-export==3.2.0
django-oauth-toolkit==2.2.0
django_prometheus==2.2.0
django-test-migrations==1.3.0
djangorestframework==3.14.0
drf-spectacular==0.25.1
grpcio==1.60.1
ipython==8.10.0
# pin jwcrypto on 1.5.1 to address GHSA-cw2r-4p82-qv79
# remove this once django-oauth-toolkit is updated to properly
# pull a version of jwcrypto >= 1.5.1.
jwcrypto==1.5.1
# pin jinja2 on 3.1.3 to address GHSA-h5c8-rqwp-cp95
# remove this once ansible-core is updated to properly
# pull a version of jwcrypto >= 3.1.3.
jinja2==3.1.3
launchdarkly-server-sdk==8.1.1
opensearch-py==2.1.1
# pin pillow on 10.2.0 to address CVE-2023-4863 and GHSA-3f63-hfp8-52jq
# remove this once sentence-transformers or torchvision
# is updated to properly pull a version of pillow > 10.2.0.
pillow==10.2.0
protobuf==4.22.1
psycopg[binary]==3.1.8
# pin pyarrow on 14.0.1 to address GHSA-5wvp-7f3h-6wmm
# remove this once datasets is updated to properly pull
# a version of pyarrow > 14.0.1.
pyarrow==14.0.1
pydantic==1.10.2
pytz
pyOpenSSL==24.0.0
PyYAML==6.0
requests==2.31.0
segment-analytics-python==2.2.2
sentence-transformers==2.2.2
# Workaround until https://github.com/python-social-auth/social-app-django/pull/465
# is released
https://github.com/python-social-auth/social-app-django/archive/2415e073f52d50af53beb02f5e7f557c8e690371.tar.gz
social-auth-core[openidconnect]==4.4.2
# UPDATED MANUALLY: waiting for parent package to be updated
torch @ https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp39-cp39-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.15.2%2Bcpu-cp39-cp39-linux_x86_64.whl
transformers==4.36.0
tqdm==4.64.1
urllib3==1.26.18
uwsgi==2.0.22
uwsgi-readiness-check==0.2.0
django-allow-cidr==0.6.0
django-csp==3.7
