# ======================================================================
# If any top level dependency is added, updated or deleted be
# sure to check pyproject.toml too. pyproject.toml is the *only*
# dependencies file used by downstream and hence *must* be synchronized.
# It is also recommended that dependencies in pyproject.toml use the '~=' version qualifier.
#
# See the following for details:
# - https://peps.python.org/pep-0518
# - https://peps.python.org/pep-0631
# - https://peps.python.org/pep-0508
# ======================================================================
aiohttp==3.12.14
ansible-anonymizer==1.5.0
ansible-risk-insight==0.2.7
ansible-lint==24.2.2
boto3==1.40.63
# pin black on 24.3.0 to address PYSEC-2024-48.
black==24.3.0
certifi@git+https://github.com/ansible/system-certifi@5aa52ab91f9d579bfe52b5acf30ca799f1a563d9
cryptography==43.0.1
daphne==4.1.2
Django==4.2.26
django-deprecate-fields==0.1.1
django-extensions==3.2.1
django-health-check==3.17.0
django-import-export==3.2.0
django-oauth-toolkit==3.0.1
django_prometheus==2.2.0
django-test-migrations==1.3.0
djangorestframework==3.15.2
drf-spectacular==0.27.2
fire==0.7.0
# pin idna on 3.7 to address GHSA-jjg7-2v4v-x38h
# remove this once requests and yarl is updated to properly
# pull a version of idna >= 3.7.
idna==3.7
ipython==8.10.0
# pin jwcrypto on 1.5.6 to address GHSA-j857-7rvv-vj97
# remove this once django-oauth-toolkit is updated to properly
# pull a version of jwcrypto >= 1.5.6.
jwcrypto==1.5.6
# pin jinja2 on 3.1.6 to address GHSA-cpwx-vrp4-4pq7
# remove this once ansible-core or torch are updated
jinja2==3.1.6
# pin jsonpickle on 3.3.0 to address SNYK-PYTHON-JSONPICKLE-8136229
# remove this once ansible-risk-insight is updated
jsonpickle==3.3.0
langchain==0.3.26
langchain-ollama==0.3.5
# CVE-2025-6985: XXE Vulnerability fixed in 0.3.9+
langchain-text-splitters==0.3.11
launchdarkly-server-sdk==8.3.0
llama-stack-client>=0.2.12
protobuf==5.29.5
psycopg[binary]==3.3.2
pydantic==2.9.2
PyDrive2==1.20.0
pytz
pyjwt==2.8.0
pyOpenSSL==24.2.1
PyYAML==6.0
requests==2.32.0
segment-analytics-python==2.2.2
# pin sqlparse on 0.5.0 to address GHSA-2m57-hf25-phgg
# Remove once a Django>4.2.11 is released with an updated dep on sqlparse
sqlparse==0.5.2
social-auth-app-django==5.4.1
social-auth-core==4.5.4
slack-sdk==3.31.0
urllib3==2.5.0
uwsgi==2.0.22
uwsgi-readiness-check==0.2.0
django-allow-cidr==0.6.0
django-csp==3.7
django-ansible-base[jwt-consumer,resource-registry]==2025.8.18
