black==24.3.0
coverage==7.2.1
certifi@git+https://github.com/ansible/system-certifi@5aa52ab91f9d579bfe52b5acf30ca799f1a563d9
flake8==6.1.0
grpcio-tools==1.68.1
# pin idna until responses -> requests is updated
idna==3.7
isort==5.10.1
pip-tools
pre-commit
responses==0.24.1
torch-model-archiver
yamllint
# pin virtualenv on 20.28.0 to address CVE-2024-53899
# Remove once a pre-commit>4.0.1 is released with an updated dep on virtualenv
virtualenv==20.28.0
