# pin aiohttp on 3.8.5 to address CVE-2023-30589
# remove this once datasets or fsspec is updated
# to properly pull a version of aiohttp > 3.8.4.
aiohttp==3.8.5
# Pin on 3.8.5 to
ansible-anonymizer==1.4.2
ansible-risk-insight==0.2.2
ansible-lint==6.19.0
boto3==1.26.84
# UPDATED MANUALLY: waiting for parent package to be updated
cryptography==41.0.4
datasets==2.10.1
Django==4.2.3
django-extensions==3.2.1
django-health-check==3.17.0
django-import-export==3.2.0
django-oauth-toolkit==2.2.0
django_prometheus==2.2.0
djangorestframework==3.14.0
drf-spectacular==0.25.1
grpcio==1.54.2
ipython==8.10.0
launchdarkly-server-sdk==8.1.1
opensearch-py==2.1.1
# pin pillow on 10.0.1 to address CVE-2023-4863
# remove this once sentence-transformers or torchvision
# is updated to properly pull a version of pillow > 10.0.1.
pillow==10.0.1
protobuf==4.22.1
psycopg[binary]==3.1.8
pydantic==1.10.2
pytz
pyOpenSSL==23.2.0
PyYAML==6.0
requests==2.31.0
segment-analytics-python==2.2.2
sentence-transformers==2.2.2
# Workaround until https://github.com/python-social-auth/social-app-django/pull/465
# is released
https://github.com/python-social-auth/social-app-django/archive/2415e073f52d50af53beb02f5e7f557c8e690371.tar.gz
social-auth-core[openidconnect]==4.4.2
# UPDATED MANUALLY: waiting for parent package to be updated
transformers==4.30.0
tqdm==4.64.1
urllib3==1.26.17
uwsgi==2.0.22
uwsgi-readiness-check==0.2.0
django-allow-cidr==0.6.0
django-csp==3.7
