black==24.3.0
coverage==7.2.1
flake8==6.0.0
grpcio-tools==1.54.2
# pin idna until responses -> requests is updated
idna==3.7
isort==5.10.1
pip-tools
pre-commit
responses==0.24.1
torch-model-archiver
yamllint==1.32.0
langchain-community==0.2.4
