.ws-full-page-utils {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: var(--pf-t--global--spacer--lg);
  z-index: var(--pf-t--global--z-index--2xl);
}

.ws-full-page-utils::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--pf-t--global--background--color--floating--default);
  opacity: 0.8;
  box-shadow: var(--pf-t--global--box-shadow--sm);
}
