.ls_bottom_menu {
    margin-top: 60px;
}

.ls_tech_preview_banner {
    margin-top:3px;
}

.ls_font_normal {
    font-weight: normal;
}

.ls_message_body {
    padding: 15px;
}

.ls_button_checkbox_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ls_checkbox_body {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.marketing_checkbox {
    padding: 10px 0 15px 0;
}

.ls_logo_padding {
    padding: 20px;
}

.ls_logo_home {
    padding: 20px;
}

.ls_terms_main {
    text-align: left;
}

.ls_terms_logo {
    padding-bottom: 45px;
}

.ls_terms_external_terms {
    padding-bottom: 15px;
}

.ls_terms_divider_padding {
    padding-bottom: 35px;
}

.ls_terms_bottom {
    padding-bottom: 20px;
}

.ls_terms_accept_buttons {
    padding-bottom: 10px;
}

.ls_text_underline {
    text-decoration: underline;
}
