<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}Project Wisdom{% endblock title %}</title>
        <link rel="stylesheet" href="/static/patternfly.css">
        {% block header %} {% endblock header %}
    </head>

    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="pf-c-page">
            <main class="pf-c-page__main" tabindex="-1">
                {% block content %} {% endblock content %}
            </main>
        </div>
    </body>

</html>
