version: "3.8"
services:
  django: &django
    user: "1000"
    build:
      context: $PWD
      dockerfile: wisdom-service.Containerfile
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy
    restart: always
    volumes:
      - $PWD/ansible_wisdom:/var/www/ansible_wisdom
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=main.settings.development
      - ANSIBLE_AI_DATABASE_NAME=wisdom
      - ANSIBLE_AI_DATABASE_USER=wisdom
      - ANSIBLE_AI_DATABASE_PASSWORD=wisdom
      - ANSIBLE_AI_DATABASE_HOST=db
      - DEBUG_VALUE=${DEBUG_VALUE}
      - SOCIAL_AUTH_GITHUB_TEAM_KEY=${SOCIAL_AUTH_GITHUB_TEAM_KEY}
      - SOCIAL_AUTH_GITHUB_TEAM_SECRET=${SOCIAL_AUTH_GITHUB_TEAM_SECRET}
      - SECRET_KEY=${SECRET_KEY:-somesecret}
    command:
      - /usr/bin/launch-wisdom.sh
    networks:
      - dbnet
  redis:
    image: docker.io/library/redis:alpine
    restart: always
    networks:
      - dbnet
    expose:
      - 6379
  db:
    image: docker.io/library/postgres:alpine
    environment:
      - POSTGRES_PASSWORD=wisdom
      - POSTGRES_DB=wisdom
      - POSTGRES_USER=wisdom
    restart: always
    healthcheck:
      test: pg_isready -U wisdom
    networks:
      - dbnet
# Disabled because this doesn't work properly on MacOS.
# [33] CONTEXT:  writing block 0 of relation base/16384/2658
# 2023-01-17 21:46:56.579 UTC [33] LOG:  out of file descriptors: No file descriptors available; release and retry
#    volumes:
#      - $PWD/db_data:/var/lib/postgresql/data
    expose:
      - 5432
  prometheus:
    image: prom/prometheus
    volumes:
      - $PWD/prometheus:/opt/prometheus/
    ports:
      - "9090:9090"
networks:
  dbnet:
