version: "3.8"
services:
  pip-compile-x86_64:
    platform: linux/x86_64
    image: registry.access.redhat.com/ubi9/ubi:latest
    working_dir: /var/www/wisdom
    volumes:
      - $PWD:/var/www/wisdom:Z
    command:
      - /var/www/wisdom/tools/scripts/pip-compile.sh

  pip-compile-aarch64:
    platform: linux/aarch64
    image: registry.access.redhat.com/ubi9/ubi:latest
    working_dir: /var/www/wisdom
    volumes:
      - $PWD:/var/www/wisdom:Z
    command:
      - /var/www/wisdom/tools/scripts/pip-compile.sh
