<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ansible AI Connect Chatbot</title>
  </head>
  <body>
    <p>THIS IS A PLACEHOLDER</p>
  </body>
{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <!-- The chatbot needs to show the userName -->
    <!-- It is safe to pass the value embedded in the host DOM -->
    <!-- as it is only used for display purposes and servers no other value -->
    <div id="user_name" hidden>{{user_name}}</div>
{% endblock content %}
</html>
