.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.astro-wrapper-stack {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20000;
  height: unset;

  .astro-wrapper-stack__badge {
    align-self: end;
  }

  .astro-option-disabled {
    pointer-events: none;
  }
}

.pf-v6-c-content--p {
    color: unset;
}

.pf-chatbot__header {
  min-height: 0 !important;
  padding: 0 !important;
}

.pf-chatbot__header-main {
  min-height: 0 !important;
  padding: 1px !important;
}

.pf-chatbot__header__divider {
  display: none;
}
