{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-bullseye">
        <div class="pf-l-bullseye__item">
            <div class="pf-c-empty-state">
                <div class="pf-c-empty-state__content">
                    <div class="pf-l-bullseye pf-u-p-xl" style="padding: 20px">
                        <img src="{% static 'users/lightspeed.png' %}" width="95px" />
                    </div>
                    <h1 class="pf-c-title pf-m-lg">Log in to Ansible Lightspeed with Watson Code Assistant</h1>
                    {% if not user.is_authenticated %}
                    <div class="pf-c-empty-state__body">You are currently not logged in. Please log in using the button below.</div>
                    {% endif %}
                    <a class="pf-c-button pf-m-primary"
                    {% if use_github_team %}
                        href="{% url 'social:begin' 'github-team' %}{% if next %}?next={{ next|urlencode }}{% endif %}">Log in
                        with GitHub</a>
                    {% else %}
                        href="{% url 'social:begin' 'github' %}{% if next %}?next={{ next|urlencode }}{% endif %}">Log in
                        with GitHub</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
