{% extends "base.html" %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-bullseye">
        <div class="pf-l-bullseye__item">
            <div class="pf-c-empty-state">
                <div class="pf-c-empty-state__content">
                    <h1 class="pf-c-title pf-m-lg">Ansible Lightspeed with Watson Code Assistant is available as a closed beta.</h1>
                    <div class="pf-c-empty-state__body">Ensure you have accepted your GitHub team invitation for access.</div>
                    <a class="pf-c-button pf-m-primary"
                        href="{% if use_github_team %}{% url 'social:begin' 'github-team' %}{% else %}
                        {% url 'social:begin' 'github' %}{% endif %}
                        {% if next %}?next={{ next|urlencode }}{% endif %}">Login with GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
