{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-bullseye">

        <div class="pf-l-bullseye__item">
            {% if not deployment_mode == 'upstream' %}
            <div class="pf-c-empty-state">
                <div class="pf-c-empty-state__content">

                    <div class="pf-l-bullseye pf-u-p-xl ls_logo_padding">
                        <img src="{% static 'users/lightspeed.png' %}" width="95px" alt="{{ project_name }} logo"/>
                    </div>
                    <h1 class="pf-c-title pf-m-lg">Log in to {{ project_name }}</h1>
                    {% if not user.is_authenticated %}
                    <div class="pf-c-empty-state__body">You are currently not logged in. Please log in using the button below.</div>

                    {% if deployment_mode == 'onprem' %}
                    <a class="pf-c-button pf-m-primary" href="{% url 'social:begin' 'aap' %}{% if next %}?next={{ next|urlencode }}{% endif %}">Log in with {{ aap_api_provider_name }}</a>
                    {% else %}
                    <a class="pf-c-button pf-m-primary" href="{% url 'social:begin' 'oidc' %}{% if next %}?next={{ next|urlencode }}{% endif %}">Log in with Red Hat</a>
                    {% endif %}
                    {% endif %}

                <div class="pf-l-bullseye">
                  <div class="pf-l-bullseye__item">
                    <div class="pf-l-level pf-m-gutter ls_bottom_menu">
                      <a class="pf-l-level__item" href="https://matrix.to/#/%23ansible-lightspeed:ansible.im" target="_blank"><span class="fas fa-solid fa-comments"></span> Chat</a>
                      <a class="pf-l-level__item" href="https://docs.ai.ansible.redhat.com/" target="_blank"><span class="fas fa-sharp fa-solid fa-external-link-alt"></span> Documentation</a>
                      <a class="pf-l-level__item" href="https://status.redhat.com/" target="_blank"><span class="fas fa-sharp fa-solid fa-check"></span> Status</a>
                      {% if deployment_mode == 'saas' and user.is_authenticated and user.rh_org_has_subscription and user.rh_user_is_org_admin %}
                      <a class="pf-l-level__item" href="/console"><span class="fas fa-solid fa-cog"></span> Admin Portal</a>
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
            {% else %}
            <div class="pf-l-bullseye__item">
                {% if not user.is_authenticated %}
                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% else %}
                        <div class="pf-c-empty-state__body">You are currently not logged in.</div>
                    {% endif %}

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <table>
                        <caption>Login to the service</caption>
                        <th>
                            <td></td>
                            <td></td>
                        </th>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        </table>
                        <input type="submit" value="login">
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
