<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if user.is_superuser %}
            <a href="{% url 'completions' %}">Completions Demo User Interface</a>
        {% endif %}
        {% block content %} {% endblock content %}
    </body>
</html>
