{% extends "base.html" %}
{% load static %}

{% block content %}

{% if start_trial_button and accept_trial_terms is False %}
<div class="pf-c-alert pf-m-warning" aria-label="Terms and Conditions Information alert">
  <div class="pf-c-alert__icon">
    <i class="fas fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
  </div>
  <p class="pf-c-alert__title">
    Please accept the Terms and Conditions
  </p>
</div>
{% endif %}

{% if start_trial_button and allow_information_share is False %}
<div class="pf-c-alert pf-m-warning" aria-label="Allow Information Share Information alert">
  <div class="pf-c-alert__icon">
    <i class="fas fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
  </div>
  <p class="pf-c-alert__title">
    To start a Trial, you must allow information to be shared with IBM.
  </p>
</div>
{% endif %}

<section class="pf-c-page__main-section pf-m-light">
  <div class="pf-l-bullseye">
    <div class="pf-l-bullseye__item">
      <div class="pf-c-empty-state">
        <div class="pf-c-empty-state__content">

          <div class="pf-l-bullseye pf-u-p-xl ls_logo_home">
            <img src="{% static 'users/lightspeed.png' %}" width="95px" alt="{{ project_name }} logo"/>
          </div>


          <h1 class="pf-c-title pf-m-lg">{{ project_name }}</h1>

          {% if user.is_authenticated %}
          <div class="ls_message_body">
            <p>{% firstof user.external_username user.username %}</p>
          </div>


          {% if deployment_mode != "saas" %}
          <!-- Not supported -->
          {% elif has_active_plan %}
          <div class="ls_message_body">
            You have {{ days_left }} days left on your trial period
          </div>


          <!--
              <div class="pf-v5-c-form__group pf-m-action">
                <div class="pf-v5-c-form__actions">
                  <a href="vscode://">
                    <button class="pf-c-button pf-m-primary" type="submit">
                      Open VS Code
                    </button>
                  </a>
                </div>
              </div>
              -->

              {% elif has_expired_plan %}
              <div class="ls_message_body">
              <p>Your trial period has expired</p>
              </div>
              {% else  %}
              <form action={% url 'trial' %} method="post">{% csrf_token %}


                <div class="ls_message_body">
                  <p>Start a [90] days free trial with our recommended model, <br><a href="https://www.ibm.com/products/watsonx-code-assistant">IBM watsonx Code Assistant</a>.
                </div>


                <div class="ls_button_checkbox_body pf-c-empty-state__content">
                  <div class="ls_checkbox_body">
                    <p>
                    <input type="checkbox" name="accept_trial_terms" {% if accept_trial_terms %}checked{% endif %} />
                    Accept the <a href="{% url 'trial_terms' %}">Terms and Conditions</a>.
                    </p>
                    <p>
                    <input type="checkbox" name="allow_information_share" {% if allow_information_share %}checked{% endif %}/>
                    Allow Information to be Shared with IBM.
                    </p>
                    <p class = "marketing_checkbox">
                    <input type="checkbox" name="accept_marketing_emails" {% if accept_marketing_emails %}checked{% endif %}/>
                    Receive Marketing Emails.
                    </p>
                  </div>
                  <p>
                    <button class="pf-c-button pf-m-primary" type="submit" name="start_trial_button" value="True">
                      Start Ansible Lightspeed trial
                    </button>
                  </p>
                </div>
              </form>
              {% endif %}


              <div class="ls_message_body">
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button class="pf-c-button pf-m-secondary" type="submit">Log out</button>
                </form>
              </div>


              {% else %}
              <div class="pf-c-empty-state__body">You are currently not logged in. Please log in using the button below.</div>
              <a class="pf-c-button pf-m-primary" type="button" href="{% url 'login' %}">Log in</a>
              {% endif %}

              <div class="pf-l-level ls_bottom_menu">
                <a class="pf-l-level__item" href="https://matrix.to/#/%23ansible-lightspeed:ansible.im" target="_blank" rel="noopener"><span class="fas fa-solid fa-comments"></span> Chat</a>
                <a class="pf-l-level__item" href="{{ documentation_url }}" target="_blank" rel="noopener"><span class="fas fa-sharp fa-solid fa-external-link-alt"></span> Documentation</a>
                <a class="pf-l-level__item" href="https://status.redhat.com/" target="_blank" rel="noopener"><span class="fas fa-sharp fa-solid fa-check"></span> Status</a>

                {% if deployment_mode == 'saas' and user.is_authenticated and user.rh_user_is_org_admin %}
                <a class="pf-l-level__item" href="/console"><span class="fas fa-solid fa-cog"></span> Admin Portal</a>
                {% endif %}
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
