{% extends "base.html" %}

{% block banner %}{% endblock %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-bullseye">
        <div class="pf-l-bullseye__item">
            <div class="pf-c-empty-state">
                <div class="pf-c-empty-state__content">
                    <h1 class="pf-c-title pf-m-lg">You currently do not have access to {{ project_name }}.</h1>
                    {% if user.is_authenticated %}
                       <form method="post" action="{% url 'logout' %}">
                           {% csrf_token %}
                           <button class="pf-c-button pf-m-primary" type="submit">Logout</button>
                       </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
