{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
  <div class="pf-l-bullseye">
    <div class="pf-l-bullseye__item">
      <div class="pf-c-empty-state">
        <div class="pf-c-empty-state__content">
          <div class="pf-l-bullseye pf-u-p-xl">
            <img src="{% static 'users/lightspeed.png' %}" width="95px" />
          </div>
          <h1 class="pf-c-title pf-m-lg">Ansible Lightspeed with Watson Code Assistant</h1>
          {% if user.is_authenticated %}
            <div class="pf-c-empty-state__body">
              <p>{{ user.username }}</p>
              <br><br>
            </div>
            <a class="pf-c-button pf-m-secondary" type="button" href="{% url 'logout' %}">Log out</a>
          {% else %}
            <div class="pf-c-empty-state__body">You are currently not logged in. Please log in using the button below.</div>
            <a class="pf-c-button pf-m-primary" type="button" href="{% url 'login' %}">Log in</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
