{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
  <div class="pf-l-bullseye">

    <div class="pf-l-bullseye__item">
      <div class="pf-c-empty-state">
        <div class="pf-c-empty-state__content">

          <div class="pf-l-bullseye pf-u-p-xl" style="padding: 20px">
            <img src="{% static 'users/lightspeed.png' %}" width="95px" alt="Ansible Lightspeed logo"/>
          </div>
          <h1 class="pf-c-title pf-m-lg">Red Hat Ansible Lightspeed with IBM Watson Code Assistant</h1>
          {% if user.is_authenticated %}
            <div style="padding: 15px">
              <p>{{ user.external_username }} {% if user.has_seat %}(Commercial user){% endif %}
            </div>

            <a class="pf-c-button pf-m-secondary" type="button" href="{% url 'logout' %}">Log out</a>
          {% else %}
            <div class="pf-c-empty-state__body">You are currently not logged in. Please log in using the button below.</div>
            <a class="pf-c-button pf-m-primary" type="button" href="{% url 'login' %}">Log in</a>
          {% endif %}

          <div class="pf-l-level" style="margin-top: 60px">
            <a class="pf-l-level__item" href="https://matrix.to/#/%23ansible-lightspeed:ansible.im" target="_blank"><span class="fas fa-solid fa-comments"></span> Chat</a>
            <a class="pf-l-level__item" href="https://docs.ai.ansible.redhat.com/" target="_blank"><span class="fas fa-sharp fa-solid fa-external-link-alt"></span> Documentation</a>
            <a class="pf-l-level__item" href="https://status.redhat.com/" target="_blank"><span class="fas fa-sharp fa-solid fa-check"></span> Status</a>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
{% endblock content %}
