{% extends "base.html" %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-bullseye">
        <div class="pf-l-bullseye__item">
            <div class="pf-c-empty-state">
                <div class="pf-c-empty-state__content">
                    <h1 class="pf-c-title pf-m-lg">You currently do not have access to Ansible Lightspeed with IBM watsonx Code Assistant.</h1>
                    {% if user.is_authenticated %}
                       <a class="pf-c-button pf-m-primary" type="button" href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
