{% extends 'main/base.html' %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-bullseye">
        <div class="pf-l-bullseye__item">
            <div class="pf-c-empty-state">
                <div class="pf-c-empty-state__content">
                    <h1 class="pf-c-title pf-m-lg">You currently do not have access to Wisdom.</h1>
                    <div class="pf-c-empty-state__body">Please accept your Wisdom invite if you have not or sign up for
                        Wisdom by using the button below.</div>
                    <a class="pf-c-button pf-m-primary">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}