name: Build and Push Image
on:
  push:
    branches:
      - main
  # have the ability to trigger this workflow manually
  workflow_dispatch:

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: Tag Name
      id: tag_name
      run: |
        echo "timestamp=datetime.now().strftime("%Y%m%d-%H-%M")" >> $GITHUB_ENV
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
        echo "tag=${{ env.timestamp }}-${{ env.sha_short }}  >> $GITHUB_OUTPUT

    - name: Build Image
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: wisdom-service
        tags: latest ${{ steps.tag_name.outputs.tag }}
        containerfiles: |
          ./wisdom-service.Containerfile

    - name: Push To quay.io
      id: push-to-quay
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: quay.io/ansible
        username: ${{ secrets.QUAY_USER }}
        password: ${{ secrets.QUAY_TOKEN }}

    - name: Print image url
      run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
