name: Admin Portal - npm-audit

on:
  push:
    branches:
      - main
    paths:
      - ansible_ai_connect_admin_portal/**
  pull_request:
    branches:
      - main
    paths:
      - ansible_ai_connect_admin_portal/**

jobs:
  lint:
    runs-on: ubuntu-latest

    env:
      WORKING_DIRECTORY: ./ansible_ai_connect_admin_portal

    steps:
      - name: Checkout commit
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '21.x'
          cache: 'npm'
          cache-dependency-path: ${{env.WORKING_DIRECTORY}}/package-lock.json

      - name: Install Dependencies
        run: npm ci
        working-directory: ${{env.WORKING_DIRECTORY}}

      - name: Run npm audit
        uses: oke-py/npm-audit-action@v4
        with:
          audit_level: low
          github_token: ${{ secrets.GITHUB_TOKEN }}
          create_issues: false
          working_directory: ${{env.WORKING_DIRECTORY}}
