name: wisdom-service - pip-compile

on:
  push:
    # tags:
    #   - v*
    branches:
      - main
    paths:
      - ansible_wisdom/**
  pull_request:
    branches:
      - story/AAP-17849
    paths:
      - ansible_wisdom/**
permissions:
  contents: read

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: install
      run: |
        pip install pip-tools
        pip-compile --quiet requirements.in
        pip-compile --quiet requirements-dev.in
        git diff --exit-code -- requirements.txt requirements-dev.txt
