name: wisdom-service - pip-compile

on:
  push:
    branches:
      - main
    paths:
      - ansible_ai_connect/**
      - requirements.in
      - requirements.txt
      - requirements-x86_64.txt
      - requirements-aarch64.txt
      - requirements-dev.in
      - requirements-dev.txt
      - requirements-dev-x86_64.txt
      - requirements-dev-aarch64.txt
      - Makefile
  pull_request:
    branches:
      - main
    paths:
      - ansible_ai_connect/**
      - requirements.in
      - requirements.txt
      - requirements-x86_64.txt
      - requirements-aarch64.txt
      - requirements-dev.in
      - requirements-dev.txt
      - requirements-dev-x86_64.txt
      - requirements-dev-aarch64.txt
      - Makefile
permissions:
  contents: read

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - name: Identify arch
      run: |
        echo "ARCH=$(uname -m)" >> "$GITHUB_ENV"
    - name: install
      run: |
        pip install --upgrade "pip<24.1"
        pip install pip-tools
        pip-compile --quiet -o requirements-${{ env.ARCH }}.txt requirements.in
        pip-compile --quiet -o requirements-dev-${{ env.ARCH }}.txt -c requirements-${{ env.ARCH }}.txt requirements-dev.in
        git diff --exit-code -- requirements-${{ env.ARCH }}.txt requirements-dev-${{ env.ARCH }}.txt
