name: PR Check
on:
  pull_request:
    branches:
      - main
  # have the ability to trigger this workflow manually
  workflow_dispatch:

jobs:
  build:
    name: PR-Check

    runs-on: ubuntu-latest

    env:
      ANSIBLE_AI_CACHE_URI: redis://localhost:6379
      ANSIBLE_AI_DATABASE_HOST: localhost
      ANSIBLE_AI_DATABASE_NAME: wisdom
      ANSIBLE_AI_DATABASE_PASSWORD: wisdom
      ANSIBLE_AI_DATABASE_USER: wisdom
      ARI_KB_PATH: ../ari/kb/
      DJANGO_SETTINGS_MODULE: main.settings.development
      ENABLE_ARI_POSTPROCESS: True
      PYTHONUNBUFFERED: 1
      SECRET_KEY: somesecret

    services:
      redis:
        image: docker.io/library/redis:alpine
        ports:
          - 6379:6379
      postgres:
        image: docker.io/library/postgres:alpine
        env:
          POSTGRES_USER: wisdom
          POSTGRES_PASSWORD: wisdom
          POSTGRES_DB: wisdom
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage

    - name: Running Unit Tests
      run: |
        cd ansible_wisdom
        coverage run --rcfile=../setup.cfg manage.py test
        coverage report > code-coverage-results.md

    - name: Add Coverage PR Comment
      uses: thollander/actions-comment-pull-request@v2
      with:
        filePath: ansible_wisdom/code-coverage-results.md
