name: PR Check
on:
  pull_request:
    branches:
      - main
  # have the ability to trigger this workflow manually
  workflow_dispatch:

jobs:
  build:
    name: PR-Check

    runs-on: ubuntu-latest

    env:
      ANSIBLE_AI_CACHE_URI: redis://localhost:6379
      ANSIBLE_AI_DATABASE_HOST: localhost
      ANSIBLE_AI_DATABASE_NAME: wisdom
      ANSIBLE_AI_DATABASE_PASSWORD: wisdom
      ANSIBLE_AI_DATABASE_USER: wisdom
      ARI_KB_PATH: ../ari/kb/
      DJANGO_SETTINGS_MODULE: main.settings.development
      ENABLE_ARI_POSTPROCESS: True
      PYTHONUNBUFFERED: 1
      SECRET_KEY: somesecret

    services:
      redis:
        image: docker.io/library/redis:alpine
        ports:
          - 6379:6379
      postgres:
        image: docker.io/library/postgres:alpine
        env:
          POSTGRES_USER: wisdom
          POSTGRES_PASSWORD: wisdom
          POSTGRES_DB: wisdom
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage

    - name: Tag Name
      id: tag_name
      run: |
        echo "IMAGE_TAGS=pr-${{ github.event.pull_request.number }}-${{ github.event.pull_request.base.ref }}" >> $GITHUB_OUTPUT
        echo "sha-short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        echo "sha-long=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

    - name: Retrieve ari knowledge base from s3
      run: |
        KB_ARI_PATH=s3://rhaw-knowledgebase-868937679750-us-east-1/ari/v0.0.3
        aws s3 cp --recursive ${KB_ARI_PATH}/data ari/kb/data
        aws s3 cp --recursive ${KB_ARI_PATH}/rules ari/kb/rules
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-east-1

    - name: Build Image
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: wisdom-service
        tags: ${{ steps.tag_name.outputs.IMAGE_TAGS }}
        containerfiles: |
          ./wisdom-service.Containerfile
        labels: |
          sha-short=${{ steps.tag_name.outputs.sha-short }}
          sha-long=${{ steps.tag_name.outputs.sha-long }}
        build-args: |
          IMAGE_TAGS=${{ steps.tag_name.outputs.IMAGE_TAGS }}
          GIT_COMMIT=${{ steps.tag_name.outputs.sha-long }}

    - name: Push To quay.io
      id: push-to-quay
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: quay.io/ansible
        username: ${{ secrets.QUAY_USER }}
        password: ${{ secrets.QUAY_TOKEN }}

    - name: Print image url
      run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"

    - name: Running Unit Tests
      run: |
        cd ansible_wisdom
        coverage run --rcfile=../setup.cfg manage.py test
        coverage report --format=markdown > code-coverage-results.md

    - name: Add Coverage PR Comment
      uses: thollander/actions-comment-pull-request@v2
      with:
        filePath: ansible_wisdom/code-coverage-results.md
      if: ${{ !github.event.pull_request.head.repo.fork }}
