name: PR Deployment Testing
on:
  pull_request:
    types: [ labeled ]

permissions:
  contents: read
  pull-requests: read

jobs:
  pr_deplolyment_test:
    if: ${{ github.event.label.name == 'pr-deployment' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Wait for PR deployment completion
        run: bash ./.github/workflows/scripts/pr_deployment_test.sh wait_for_pr_deployment ${{ github.event.number }} ${{ secrets.PR_DEPLOY_CLUSTER_HOSTNAME }}
        shell: bash
  pr_testing:
    if: ${{ github.event.label.name == 'pr-deployment' }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    needs: pr_deplolyment_test
    steps:
    - uses: actions/checkout@v6
    - name: Trigger tests on PR deployment
      id: test_pr
      run: |
        bash ./.github/workflows/scripts/pr_deployment_test.sh invoke_pr_test 81148901 ${{ secrets.TESTING_TRIGGER_PAT }} ${{ github.event.number }}
      shell: bash
