name: wisdom-service - pre-commit

on:
  push:
    # tags:
    #   - v*
    branches:
      - main
    paths:
      - ansible_ai_connect/**
      - ansible_ai_connect_chatbot/**
      - ansible_ai_connect_admin_portal/**
  pull_request:
    branches:
      - main
    paths:
      - ansible_ai_connect/**
      - ansible_ai_connect_chatbot/**
      - ansible_ai_connect_admin_portal/**
permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up python3
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
