name: wisdom-service - pyright

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: install
      run: |
        pip install pyright django boto3 requests prometheus_client backoff django_prometheus django-health-check aiohttp ansible-lint ansible_anonymizer
        pyright
