name: Scan for security vulnerabilities
on: pull_request
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - uses: snyk/actions/setup@master
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install .

      - name: Test projects for dependency vulnerabilities & license issues
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk test --all-projects

      - name: Test projects for code vulnerabilities
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk code test -d --project-name="ansible/ansible-ai-connect-service" --report ../../.
