name: Chatbot - Build and Test

on:
  push:
    branches:
      - main
    paths:
      - ansible_ai_connect_chatbot/**
  pull_request:
    branches:
      - main
    paths:
      - ansible_ai_connect_chatbot/**

jobs:

  lint:
    runs-on: ubuntu-latest

    env:
      WORKING_DIRECTORY: ./ansible_ai_connect_chatbot

    steps:
      - name: Checkout commit
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '21.x'
          cache: 'npm'
          cache-dependency-path: ${{env.WORKING_DIRECTORY}}/package-lock.json

      - name: Install Dependencies
        run: npm install
        working-directory: ${{env.WORKING_DIRECTORY}}

      - name: Compile
        run: npm run build
        working-directory: ${{env.WORKING_DIRECTORY}}

      - name: Run linter
        run: npm run eslint
        working-directory: ${{env.WORKING_DIRECTORY}}
