name: AAP Chatbot - Release

on:
  workflow_dispatch:

jobs:

  lint:
    runs-on: ubuntu-latest

    env:
      WORKING_DIRECTORY: ./aap_chatbot

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: refs/heads/main

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          cache: 'npm'
          cache-dependency-path: ${{env.WORKING_DIRECTORY}}/package-lock.json

      - name: Install Dependencies & Test env
        run: npm install && npx playwright install
        working-directory: ${{env.WORKING_DIRECTORY}}

      - name: Test
        run: npm run test
        working-directory: ${{env.WORKING_DIRECTORY}}

      - name: Run linter
        run: npm run eslint
        working-directory: ${{env.WORKING_DIRECTORY}}

      - name: Versioning
        # Consider patch/minor/major versions later on, maybe as a workflow input.
        run: npm version patch
        working-directory: ${{env.WORKING_DIRECTORY}}

      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "New AAP Chatbot UI package release."
          committer: GitHub <noreply@github.com>
          author: GitHub <noreply@github.com>
          branch: aap-chatbot-release
          delete-branch: true
          title: "[Automated PR] Release the AAP Chatbot UI package."
          body: "Release the AAP Chatbot UI package."
          sign-commits: true
          add-paths: |
            aap_chatbot/package.json
            aap_chatbot/package-lock.json
