name: wisdom-service - uv-export

on:
  push:
    branches:
      - main
    paths:
      - ansible_ai_connect/**
      - pyproject.toml
      - uv.lock
      - requirements.txt
      - Makefile
  pull_request:
    branches:
      - main
    paths:
      - ansible_ai_connect/**
      - pyproject.toml
      - uv.lock
      - requirements.txt
      - Makefile
permissions:
  contents: read

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Compile requirements
      run: |
        uv lock
        uv export --format requirements-txt --no-hashes --no-emit-project -o requirements.txt
        git diff --exit-code -- uv.lock requirements.txt
